# version: '3.7'

services:
  elasticsearch:
    image: elasticsearch:${ELASTIC_VERSION}
    container_name: elasticsearch
    build:
      context: elasticsearch/
      args:
        ELASTIC_VERSION: ${ELASTIC_VERSION}
    volumes:
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro,Z
      - elasticsearch:/usr/share/elasticsearch/data:Z
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      node.name: elasticsearch01
#      cluster.initial_master_nodes: elasticsearch, elasticsearch01, elasticsearch02
      discovery.seed_hosts: 10.11.0.18, 10.11.0.19, 10.11.0.20
      ES_JAVA_OPTS: -Xms16g -Xmx16g
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD:-}
    networks:
      - elasticsearch_elk
    restart: unless-stopped


  kibana:
    image: kibana:${ELASTIC_VERSION}
    container_name: kibana
    build:
      context: kibana/
      args:
        ELASTIC_VERSION: ${ELASTIC_VERSION}
    volumes:
      - ./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,Z
    ports:
      - 5601:5601
    networks:
      - elasticsearch_elk
    depends_on:
      - elasticsearch
    restart: unless-stopped


networks:
  elasticsearch_elk:
    driver: bridge

volumes:
  setup:
  elasticsearch:
